extends layout

block content

    -var miejsce = 1;
    style.
        h7 {
            color: #0f0f0f;
        }

    table.table-sm.table-dark.col-md-12.table-hover.row-cols-md-6(id='wyniki')
        caption=title
        thead
            tr
                th(scope='col') #
                th(scope='col') Imie
                th(scope='col') Nazwisko
                th(scope='col') Klub
                th(scope='col') D
                th(scope='col') E1
                th(scope='col') E2
                th(scope='col') E3
                th(scope='col') E4
                th(scope='col') E
                th(scope='col') Ocena Końcowa
        each competitor, i in competitors
            tr
                td= miejsce++ + '. '
                td=competitor.firstname
                td=competitor.lastname
                td=competitor.club
                if user.apparatus === 'FX'
                  if competitor.FX.Final
                    td=competitor.FX.D.toFixed(2)
                    td=competitor.FX.E1.toFixed(2)
                    td=competitor.FX.E2.toFixed(2)
                    td=competitor.FX.E3.toFixed(2)
                    td=competitor.FX.E4.toFixed(2)
                    td=competitor.FX.E.toFixed(2)
                    td=competitor.FX.Final.toFixed(2)
                    td
                        if user.role === 'Arbiter'
                            a.btn.btn-info.pull-right(href="/competitors/remove/" + competitor._id) Edytuj
                            if !competitor.FX.Final
                                a.btn.btn-success.pull-right(href="/judging/" + competitor._id) Oceń
                  if  user
                      if !competitor.FX.Final
                            td
                            td
                            td
                            td
                            td
                            td
                            td
                            td
                                a.btn.btn-success.pull-right(href="/judging/" + competitor._id) Oceń



                if user.apparatus === 'PH'
                  if competitor.PH.Final
                        td=competitor.PH.D.toFixed(2)
                        td=competitor.PH.E1.toFixed(2)
                        td=competitor.PH.E2.toFixed(2)
                        td=competitor.PH.E3.toFixed(2)
                        td=competitor.PH.E4.toFixed(2)
                        td=competitor.PH.E.toFixed(2)
                        td=competitor.PH.Final.toFixed(2)
                        td
                            if user.role === 'Arbiter'
                                a.btn.btn-info.pull-right(href="/competitors/remove/" + competitor._id) Edytuj
                                if !competitor.PH.Final
                                    a.btn.btn-success.pull-right(href="/judging/" + competitor._id) Oceń
                  if  user
                        if !competitor.PH.Final
                            td
                            td
                            td
                            td
                            td
                            td
                            td
                            td
                                if user.role!=="Admin"
                                    a.btn.btn-success.pull-right(href="/judging/" + competitor._id) Oceń
                if user.apparatus === 'SR'
                  if competitor.SR.Final
                    td=competitor.SR.D.toFixed(2)
                    td=competitor.SR.E1.toFixed(2)
                    td=competitor.SR.E2.toFixed(2)
                    td=competitor.SR.E3.toFixed(2)
                    td=competitor.SR.E4.toFixed(2)
                    td=competitor.SR.E.toFixed(2)
                    td=competitor.SR.Final.toFixed(2)
                    td
                        if user.role === 'Arbiter'
                            a.btn.btn-info.pull-right(href="/competitors/remove/" + competitor._id) Edytuj
                            if !competitor.SR.Final
                                a.btn.btn-success.pull-right(href="/judging/" + competitor._id) Oceń
                  if  user
                        if !competitor.SR.Final
                            td
                            td
                            td
                            td
                            td
                            td
                            td
                            td
                                a.btn.btn-success.pull-right(href="/judging/" + competitor._id) Oceń
                if user.apparatus === 'VT'
                    if competitor.VT1.Final
                        td=competitor.VT1.D.toFixed(2)
                        td=competitor.VT1.E1.toFixed(2)
                        td=competitor.VT1.E2.toFixed(2)
                        td=competitor.VT1.E3.toFixed(2)
                        td=competitor.VT1.E4.toFixed(2)
                        td=competitor.VT1.E.toFixed(2)
                        td=competitor.VT1.Final.toFixed(2)
                        td
                            if user.role === 'Arbiter'
                                a.btn.btn-info.pull-right(href="/competitors/remove/" + competitor._id) Edytuj
                                if !competitor.VT1.Final
                                    a.btn.btn-success.pull-right(href="/judging/" + competitor._id) Oceń
                    if  user
                            if !competitor.VT1.Final
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                    a.btn.btn-success.pull-right(href="/judging/" + competitor._id) Oceń
                    if competitor.VT1.Final
                        tr
                            td
                            td=competitor.firstname
                            td=competitor.lastname
                            td=competitor.club
                            if competitor.VT2.Final
                                td=competitor.VT2.D.toFixed(2)
                                td=competitor.VT2.E1.toFixed(2)
                                td=competitor.VT2.E2.toFixed(2)
                                td=competitor.VT2.E3.toFixed(2)
                                td=competitor.VT2.E4.toFixed(2)
                                td=competitor.VT2.E.toFixed(2)
                                td=competitor.VT2.Final.toFixed(2)
                                td
                                    if user.role === 'Arbiter'
                                        a.btn.btn-info.pull-right(href="/competitors/removeVT2/" + competitor._id) Edytuj
                                        if !competitor.VT2.Final
                                            a.btn.btn-success.pull-right(href="/judging/" + competitor._id) Oceń
                            if  user
                                    if !competitor.VT2.Final
                                        td
                                        td
                                        td
                                        td
                                        td
                                        td
                                        td
                                        td
                                            a.btn.btn-success.pull-right(href="/judging/" + competitor._id) Oceń

                if user.apparatus === 'PB'
                    if competitor.PB.Final
                        td=competitor.PB.D.toFixed(2)
                        td=competitor.PB.E1.toFixed(2)
                        td=competitor.PB.E2.toFixed(2)
                        td=competitor.PB.E3.toFixed(2)
                        td=competitor.PB.E4.toFixed(2)
                        td=competitor.PB.E.toFixed(2)
                        td=competitor.PB.Final.toFixed(2)
                        td
                            if user.role === 'Arbiter'
                                a.btn.btn-info.pull-right(href="/competitors/remove/" + competitor._id) Edytuj
                                if !competitor.PB.Final
                                    a.btn.btn-success.pull-right(href="/judging/" + competitor._id) Oceń
                    if  user
                            if !competitor.PB.Final
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                    a.btn.btn-success.pull-right(href="/judging/" + competitor._id) Oceń
                if user.apparatus === 'HB'
                    if competitor.HB.Final
                        td=competitor.HB.D.toFixed(2)
                        td=competitor.HB.E1.toFixed(2)
                        td=competitor.HB.E2.toFixed(2)
                        td=competitor.HB.E3.toFixed(2)
                        td=competitor.HB.E4.toFixed(2)
                        td=competitor.HB.E.toFixed(2)
                        td=competitor.HB.Final.toFixed(2)
                    td
                        if user.role === 'Arbiter'
                            a.btn.btn-info.pull-right(href="/competitors/remove/" + competitor._id) Edytuj
                            if !competitor.HB.Final
                                a.btn.btn-success.pull-right(href="/judging/" + competitor._id) Oceń
                    if  user
                        if !competitor.HB.Final
                            td
                            td
                            td
                            td
                            td
                            td
                            td
                            td
                                a.btn.btn-success.pull-right(href="/judging/" + competitor._id) Oceń



    script.
        var tableToExcel = (function () {
            var uri = 'data:application/vnd.ms-excel;base64,'
                ,
                template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><meta charset="utf-8"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                , base64 = function (s) {
                    return window.btoa(unescape(encodeURIComponent(s)))
                }
                , format = function (s, c) {
                    return s.replace(/{(\w+)}/g, function (m, p) {
                        return c[p];
                    })
                }
            return function (table, name,filename) {
                if (!table.nodeType) table = document.getElementById(table)
                var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
                var link = document.createElement('a');
                link.download = filename;
                link.href = uri + base64(format(template, ctx));
                link.click();
            }
        })()


