doctype html
html

    head
        meta(charset="utf-8")
        title= JudgingApp
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel="icon" type="image/png" href="/css/mlg_logo.svg" sizes="16x16")
        script(defer, src="/js/socket.io.js")
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js' integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut' crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js' integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k' crossorigin='anonymous')

        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/js/main.js')
        style.


            body {
                min-width: auto;
            }


            @media (min-width: 1200px) {
                .container {
                    max-width: 1000px;
                }
            }

    body

        nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4.fixed-top
            a.navbar-brand(href='https://www.pzg.pl') PZG
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarCollapse.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/')
                            | Home
                            span.sr-only (current)



                    if user
                        if user.role==='Admin'
                            li.nav-item.dropdown
                                a.nav-link.dropdown-toggle(id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Sędziowie
                                    .dropdown-menu(aria-labelledby="navbarDropdown4")
                                        a.dropdown-item(href="/judges/addJudge/") Dodaj Sędziego
                                        a.dropdown-item(href="/users/addUser/") Przydziel Sędziego

                            li.nav-item.dropdown
                                a.nav-link.dropdown-toggle(id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Zawodnicy
                                    .dropdown-menu(aria-labelledby="navbarDropdown5")
                                        a.dropdown-item(href="/competitors/addCompetitor/") Dodaj Zawodnika
                                        a.dropdown-item(href="/competitors/addParticipant/") Przydziel Zawodnika
                            li.nav-item.dropdown
                                a.nav-link.dropdown-toggle(id="navbarDropdown8" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Info
                                    .dropdown-menu(aria-labelledby="navbarDropdown8")
                                        a.dropdown-item(href="/judges/") Sędziowie
                                        a.dropdown-item(href="/competitors/") Zawodnicy
                        if user && user.role !== "Admin"
                            li.nav-item.disabled
                                a.nav-link(href="/protocols/") Protokoły

                    if !user || user.role !== 'Admin'
                        li.nav-item.disabled
                            a.nav-link(href='/judges/') Sędziowie
                        //li.nav-item.disabled
                            a.nav-link(href='/competitors/') Zawodnicy

                ul.navbar-nav.mr-2
                    li.nav-item.dropleft
                        a.nav-link.dropdown-toggle(id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Aktualne Wyniki
                            .dropdown-menu(aria-labelledby="navbarDropdown2")
                                //a.dropdown-item(href="/results/mistrzowska/") Klasa Mistrzowska
                                a.dropdown-item(href="/results/mlodziezowiec/") Klasa Młodzieżowiec
                                a.dropdown-item(href="/results/I/") Klasa I
                                a.dropdown-item(href="/results/II/") Klasa II
                                a.dropdown-item(href="/results/III/") Klasa III
                                a.dropdown-item(href="/results/mlodziezowa/") Klasa Młodzieżowa
                                a.dropdown-item(href="/results/mlodziezowa/2012") Klasa Młodzieżowa 2012
                                a.dropdown-item(href="/results/mlodziezowa/2013") Klasa Młodzieżowa 2013
                                a.dropdown-item(href="/results/mlodziezowa/2014-") Klasa Młodzieżowa 2014 i młodsi
                                a.dropdown-item(href="/results/i_krok/") Klasa I Krok Gimnastyczny
                                a.dropdown-item(href="/results/i_krok/2014") Klasa I Krok Gimnastyczny 2014
                                a.dropdown-item(href="/results/i_krok/2015-") Klasa I Krok Gimnastyczny 2015 i młodsi
                    //li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Klasyfikacja ligowa
                            .dropdown-menu(aria-labelledby="navbarDropdown3")
                                a.dropdown-item(href="/results/league/mistrzowska") Klasa Mistrzowska
                                a.dropdown-item(href="/results/league/mlodziezowiec/") Klasa Młodzieżowiec
                                a.dropdown-item(href="/results/league/I/") Klasa I
                                a.dropdown-item(href="/results/league/II/") Klasa II
                                a.dropdown-item(href="/results/league/III/") Klasa III
                                a.dropdown-item(href="/results/league/mlodziezowa/") Klasa Młodzieżowa
                    //li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false") Archiwum
                            .dropdown-menu(aria-labelledby="navbarDropdown1")
                                a.dropdown-item(href="/results/league/I_Edition/") I Edycja
                                a.dropdown-item(href="/results/league/II_Edition/") II Edycja
                                a.dropdown-item(href="/results/league/III_Edition/") III Edycja
                                a.dropdown-item(href="/results/league/IV_Edition/") IV Edycja
                    if competitors
                        li.nav-item
                            a.nav-link(onclick="tableToExcel(wyniki)") Pobierz
                    if !user
                        li.nav-item
                            a.nav-link(href="/users/login") Login
                    else
                        li.nav-item
                            a.nav-link(href="/users/logout") Logout
    input(id="title", hidden='true', value=title)
    -var miejsce=1;
    table.table-sm.table-dark.table-striped.container(id = 'wyniki')
        thead
            tr.border-bottom
                th(scope='col') #
                th(scope='col' style="text-align: center") Imie
                th(scope='col' style="text-align: center") Nazwisko
                th(scope='col' style="text-align: center") Klub
                th(scope='col' style="text-align: center") Rocznik
                th
                th(scope='col' ) Wolne
                th(scope='col' ) Koń
                th(scope='col' ) Kółka
                th(scope='col' ) Skok
                th(scope='col' ) Poręcze
                th(scope='col' ) Drązek
                th(scope='col' ) Suma
        each competitor, i in competitors

            tr(style="text-align: center")
                td= miejsce++ + '. '
                td=competitor.firstname
                td=competitor.lastname
                td=competitor.club
                td=competitor.year
                td
                if competitor.FX&&competitor.FX.Final
                    td
                        table
                            tr
                                td='D:' + competitor.FX.D.toFixed(2)
                                td(rowspan="2" style='text-vertical-align')= ' F:' + competitor.FX.Final.toFixed(2)
                            tr
                                td=' E:' + competitor.FX.E.toFixed(2)


                else
                    td
                if competitor.PH&&competitor.PH.Final
                    td
                        table
                            tr
                                td='D:' + competitor.PH.D.toFixed(2)
                                td(rowspan="2" style='text-vertical-align')= ' F:' + competitor.PH.Final.toFixed(2)
                            tr
                                td=' E:' + competitor.PH.E.toFixed(2)
                else
                    td
                if competitor.SR&&competitor.SR.Final
                    td
                        table
                            tr
                                td='D:' + competitor.SR.D.toFixed(2)
                                td(rowspan="2" style='text-vertical-align')= ' F:' + competitor.SR.Final.toFixed(2)
                            tr
                                td=' E:' + competitor.SR.E.toFixed(2)
                else
                    td
                if competitor.VT1&&competitor.VT1.Final
                    td
                        table
                            tr
                                td='D:' + competitor.VT1.D.toFixed(2)
                                td(rowspan="2" style='text-vertical-align')= ' F:' + competitor.VT1.Final.toFixed(2)
                            tr
                                td=' E:' + competitor.VT1.E.toFixed(2)
                else
                    td
                if competitor.PB&&competitor.PB.Final
                    td
                        table
                            tr
                                td='D:' + competitor.PB.D.toFixed(2)
                                td(rowspan="2" style='text-vertical-align')= ' F:' + competitor.PB.Final.toFixed(2)
                            tr
                                td=' E:' + competitor.PB.E.toFixed(2)
                else
                    td
                if competitor.HB&&competitor.HB.Final
                    td
                        table
                            tr
                                td='D:' + competitor.HB.D.toFixed(2)
                                td(rowspan="2" style='text-vertical-align')= ' F:' + competitor.HB.Final.toFixed(2)
                            tr
                                td=' E:' + competitor.HB.E.toFixed(2)
                else
                    td
                if competitor.suma
                    td=competitor.suma.toFixed(2)
                else
                    td








    script.
        var tableToExcel = (function () {
            var uri = 'data:application/vnd.ms-excel;base64,'
                ,
                template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><meta charset="utf-8"><head></head><body><table>{table}</table></body></html>'
                , base64 = function (s) {
                    return window.btoa(unescape(encodeURIComponent(s)))
                }
                , format = function (s, c) {
                    return s.replace(/{(\w+)}/g, function (m, p) {
                        return c[p];
                    })
                }
            return function (table) {
                var x = document.getElementById("title").value;
                if (!table.nodeType) table = document.getElementById(table)
                var ctx = {worksheet: x || 'Worksheet', table: table.innerHTML}
                var link = document.createElement('a');
                link.download = x;
                link.href = uri + base64(format(template, ctx));
                link.click();
            }
        })()