doctype html
html
    head
        title= JudgingApp
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='shortcut icon',type='image/png',href='/css/logo.png')
        script(defer, src="http://localhost:3000/socket.io/socket.io.js")
        script(defer, src="/js/socket.io.js")
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/js/main.js')
        meta(charset='utf-8')
    body

        nav.navbar.navbar-inverse.navbar-fixed-top
            a.navbar-brand(href='https://www.pzg.pl') PZG
            .container

                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target="#navbar")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar

                #navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                        li
                            a(href="/") Home

                        li
                            a(href="/results/") Results
                        if user
                            if user.role !== "Admin"
                                li
                                    a(href="/judging/") Judge
                            if user.role === 'Admin'
                                li
                                    a(href="/competitors/addCompetitor/") Add Competitor
                                li
                                    a(href="/judges/addJudge/") Add Judge
                                li
                                    a(href="/users/addUser/") Set Judges
                                li
                                    a(href="/competitors/addParticipant/") Set Competitors
                    ul.nav.navbar-nav.navbar-right
                        if !user
                            li
                                a(href="/users/login") Login
                        else
                            li
                                a(href="/users/logout") Logout

            != messages('message', locals)
            if errors
                each error, i in errors
                    div(class="alert alert-danger") #{error.msg}


        -var miejsce = 1;
        style.
            h7{
                color: #0f0f0f;
            }
        table.table.table-condensed(id='wyniki')
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Imie
                    th(scope='col') Nazwisko
                    th(scope='col') Klub
                    th(scope='col') Wolne
                    th(scope='col') Koń
                    th(scope='col') Kółka
                    th(scope='col') Skok
                    th(scope='col') Poręcze
                    th(scope='col') Drązek
                    th(scope='col') Suma
            each competitor, i in competitors
                if competitor.clas === 'Młodzieżowiec'
                    tr
                        td= miejsce++ + '. '
                        td=competitor.firstname
                        td=competitor.lastname
                        td=competitor.club
                        if competitor.FX
                            td
                                table
                                    tr
                                        td='D:' + competitor.FX.D.toFixed(2)
                                        td(rowspan="2" style='text-vertical-align')= ' F:' + competitor.FX.Final.toFixed(2)
                                    tr
                                        td=' E:' + competitor.FX.E.toFixed(2)


                        else
                            td
                        if competitor.PH
                            td
                                table
                                    tr
                                        td='D:' + competitor.PH.D.toFixed(2)
                                        td(rowspan="2" style='text-vertical-align')= ' F:' + competitor.PH.Final.toFixed(2)
                                    tr
                                        td=' E:' + competitor.PH.E.toFixed(2)
                        else
                            td
                        if competitor.SR
                            td
                                table
                                    tr
                                        td='D:' + competitor.SR.D.toFixed(2)
                                        td(rowspan="2" style='text-vertical-align')= ' F:' + competitor.SR.Final.toFixed(2)
                                    tr
                                        td=' E:' + competitor.SR.E.toFixed(2)
                        else
                            td
                        if competitor.VT1
                            td
                                table
                                    tr
                                        td='D:' + competitor.VT1.D.toFixed(2)
                                        td(rowspan="2" style='text-vertical-align')= ' F:' + competitor.VT1.Final.toFixed(2)
                                    tr
                                        td=' E:' + competitor.VT1.E.toFixed(2)
                        else
                            td
                        if competitor.PB
                            td
                                table
                                    tr
                                        td='D:' + competitor.PB.D.toFixed(2)
                                        td(rowspan="2" style='text-vertical-align')= ' F:' + competitor.PB.Final.toFixed(2)
                                    tr
                                        td=' E:' + competitor.PB.E.toFixed(2)
                        else
                            td
                        if competitor.HB
                            td
                                table
                                    tr
                                        td='D:' + competitor.HB.D.toFixed(2)
                                        td(rowspan="2" style='text-vertical-align')= ' F:' + competitor.HB.Final.toFixed(2)
                                    tr
                                        td=' E:' + competitor.HB.E.toFixed(2)
                        else
                            td
                        td=competitor.suma.toFixed(2)

    script.
        var tableToExcel = (function () {
            var uri = 'data:application/vnd.ms-excel;base64,'
                ,
                template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><meta charset="utf-8"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                , base64 = function (s) {
                    return window.btoa(unescape(encodeURIComponent(s)))
                }
                , format = function (s, c) {
                    return s.replace(/{(\w+)}/g, function (m, p) {
                        return c[p];
                    })
                }
            return function (table, name, filename) {
                if (!table.nodeType) table = document.getElementById(table)
                var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
                var link = document.createElement('a');
                link.download = filename;
                link.href = uri + base64(format(template, ctx));
                link.click();
            }
        })()


