extends ../layout

block content
    -var miejsce = 1;
    style.
        h7 {
            color: #0f0f0f;
        }
    table.table.table-condensed(id='wyniki')
        thead
            tr
                th(scope='col' style="text-align: center")
                th(scope='col' style="text-align: center") #
                th(scope='col' style="text-align: center") Imie
                th(scope='col' style="text-align: center") Nazwisko
                th(scope='col' style="text-align: center") Klub
                th(scope='col' style="text-align: center") Ocena D
                th(scope='col' style="text-align: center") Ocena E
                th(scope='col' style="text-align: center") Ocena Skok 1
                th(scope='col' style="text-align: center") Ocena D
                th(scope='col' style="text-align: center") Ocena E
                th(scope='col' style="text-align: center") Ocena Skok 2
                th(scope='col' style="text-align: center") Ocena Końcowa

        each competitor, i in competitors
            if competitor.VT
                tr

                    if i <= 8
                        td Q
                    if i === 9 || i === 10
                        td="R" + (i - 8)
                    if i > 10
                        td
                    td= miejsce++ + '. '
                    td=competitor.firstname
                    td=competitor.lastname
                    td=competitor.club
                    td=competitor.VT1.D
                    td=competitor.VT1.E
                    td=competitor.VT1.Final
                    td=competitor.VT2.D
                    td=competitor.VT2.E
                    td=competitor.VT2.Final
                    td=competitor.VT



